body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke;
}

.contenedor {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    width: 350px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

h2 {
    color: black;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #2196F3;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
}

button {
    background-color: #2196F3;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: #134b83;
}

h3 {
    color: black;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}